<!DOCTYPE html>
<html>
<head>
    <title>Movie quiz!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'>
</head>
<body ng-app="movieQuiz">
<div class="container">
    <div class="row" ng-controller="QuizController">
        <div class="col-lg-9">
            <h2>Movie quiz!</h2>
            <h3>Sort the movies in order of their release dates</h3>
            <p>Question #{{ ordinal }}</p>
            <ul class="list-group" ui-sortable ng-model="items">
                <li class="list-group-item" ng-repeat="item in items">{{ item.name }}</li>
            </ul>
            <button class="btn" type="submit" ng-click="submitAnswer()">OK</button><br/>
            <button class="btn" type="submit" ng-click="startQuiz()">START</button>
        </div>
    </div>
</div>
</body>
<script src="/webjars/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/angularjs/1.4.4/angular.min.js" type="text/javascript"></script>
<script src="/webjars/jquery-ui/1.10.3/ui/jquery.ui.core.js" type="text/javascript"></script>
<script src="/webjars/jquery-ui/1.10.3/ui/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/webjars/jquery-ui/1.10.3/ui/jquery.ui.mouse.js" type="text/javascript"></script>
<script src="/webjars/jquery-ui/1.10.3/ui/jquery.ui.sortable.js" type="text/javascript"></script>
<script src="/webjars/angular-ui-sortable/0.13.0/sortable.min.js" type="text/javascript"></script>
<script src="/webjars/underscorejs/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="js/movieq.js"></script>
</html>